body{
    
font-family: 'Square Peg', cursive;

}

:root {
    --main-branding-color:  rgb(37, 7, 187);
    --second-branding-color: #FF7143;
    --position-center: center;

  }
  
 
h1, h3{
    font-size: 80 px;
    color: var(--main-branding-color);
}

.top
{
    text-align: var(--position-center);
    margin-top:5%;
}
.flex_row{
    display: flex;
    justify-content: var(--position-center);
}

.button{
    width: 212px;
    height: 60px;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    border: none;
    color:white;
    border-radius: 10px;
    cursor: pointer;
}


.text{
    width: 30%;
    display: inline-block;
    font: 1em sans-serif;
    line-height: 1.5;
    padding: 15px;
}

.button_orange{
    background: var(--main-branding-color);
    margin-right: 20px;
}

.button_orange:hover{
    background: var(--second-branding-color);
}

.button_transparent{
    background:none;
    color:  var(--main-branding-color);
    border: 1px solid  var(--main-branding-color);
    border-radius: 10px;
    margin-left: 20px;
    }

.button_transparent:hover{
    color: var(--second-branding-color);

}
.img{
    margin-top: 15px;
    margin-bottom: 25px;
    max-width: 100%;
  height: auto;
}

a {
   
    color: var(--second-branding-color);
    text-decoration: none; 
   }
   a:visited {
    color: var(--second-branding-color);
   } 
   a:hover {
    color: var(--second-branding-color);  
    text-decoration: underline; 
   }